* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: "Space-Mono";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container-image {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
  padding: 10px 10px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.image {
  width: 100%;
}
h1 {
  font-size: 1rem;
  color: #333333;
  max-width: 420px;
  padding: 20px;
}
h2 {
  font-size: 2.8rem;
  color: #333333;
  margin: 0;
  width: 100%;
}
main {
  width: 100%;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text {
  font-size: 1.6rem;
  width: 100%;
  color: #4f4f4f;
}

button {
  background-color: #333333;
  padding: 25px;
  color: #fff;
  display: flex;
  justify-content: center;
  position: center;
  margin-top: 30px;
  cursor: pointer;
  max-width: 60%;
}
button:hover {
  background-color: rgb(10, 87, 62);
}
.footer {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  margin-top: 50px;
  color: rgba(128, 128, 128, 0.719);
}

@media (min-widt: 720px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .container-image {
    display: flex;
  }

  .container-image {
    max-width: 40%;
  }
  h1 {
    font-size: 2rem;
    max-width: 500px;
  }
  h2 {
    font-size: 3.5rem;
  }
  .text {
    font-size: 2.4rem;
    width: 50%;
  }
  button {
    max-width: 30%;
  }
  .footer {
    font-size: 20px;
    padding: 25px;
  }
}
